@import 'bourbon/bourbon';
html{
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow:hidden;
  @include user-select(none);
  border-radius: 4px;
  background-color:white;
  border:1px solid black;
  font-family: 'Helvetica Neue';
  text-align:center;
}
